<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="configPath" value="C:\\config\\" />
    <add key="logPath" value="C:\\Users\\Aniruddha\\Documents\\SDET\\logs\\ServerHandler\\" />
    <add key="mainPath" value="C:\\Users\\Aniruddha\\Documents\\SDET\\experiment\\" />
    <add key="testPath" value="C:\\Users\\Aniruddha\\Documents\\SDET\\test\\" />
  </appSettings>
</configuration>